.header-light
    .container
        .header-wrap
            a.logo-link(href="./index.html") 
                img.logo.lazyload(data-src="./static/images/common/logo-dark.svg", alt="Logo")
                span.divider –
                img.logo.lazyload(data-src="./static/images/common/logo-ella-dark.png", alt="Logo")