header
    .container 
        h1 best price in usa
            br
            span on walk in tubes
        .description Get the best deal on US walk in tubes. No false promises, no field salespeople, no extra markups.

        .hero-wrap 
            img(src="./static/images/common/header/header-bg-img.png", alt="")


        form.enter-zip-code-wrap(action='#')
            span.title What is your Zip Code?
            .btn-wrap
                input(type="text" placeholder="Enter Zip code?")
                button(type="button") Get estimate
            span.description Free, no-obligation estimates.

        .desktop-scroll-arrow-wrap
            svg.scroll-arrow(width="36", height="64", viewBox="0 0 36 64", preserveAspectRatio="none")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M33 46V18C33 9.71573 26.2843 3 18 3C9.71573 3 3 9.71573 3 18V46C3 54.2843 9.71573 61 18 61C26.2843 61 33 54.2843 33 46ZM18 0C8.05888 0 0 8.05888 0 18V46C0 55.9411 8.05888 64 18 64C27.9411 64 36 55.9411 36 46V18C36 8.05888 27.9411 0 18 0Z", fill="white")
                path(d="M15 17C15 15.3431 16.3431 14 18 14V14C19.6569 14 21 15.3431 21 17V25C21 26.6569 19.6569 28 18 28V28C16.3431 28 15 26.6569 15 25V17Z", fill="white")
