.nav 
    .nav-wrap
        a.logo-link(href="./index.html") 
            img.logo.lazyload(data-src="./static/images/common/logo-light.svg", alt="Logo")
            span.divider –
            img.logo.lazyload(data-src="./static/images/common/logo-ella.png", alt="Logo")
        .mibile-title What is your Zip Code?
        form.enter-zip-code-wrap(action='#')
            span.title What is your Zip Code?
            .input-wrap
                input.zip-modal-open(type="text" placeholder="Enter your Zip code")
                .error-msg
            button(type="submit") Get estimate