.nav 
    .nav-wrap
        a.logo-link(href="./index.html") 
            img.logo(src="./static/images/common/logo-light.svg", alt="Logo")
        form.enter-zip-code-wrap(action='#')
            span.title What is your Zip Code?
            input(type="text" placeholder="Enter Zip code?")
            button(type="button") Get estimate