section#differences.differences
    .container 
        h2.section-title Why our offer is special
        h3.section-subtitle You'd be impressed by how affordable it is today for seniors:
        .differences-slider
            .screen-view
                img.lazyload.active.preloader(data-src="./static/images/common/differs/differs-main.png", alt="Differs") 
            ul.name-list
                li.list-item 
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Best value Walk-In Tubs on the Market
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Designed & Assembled in Chicago, IL
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon") 
                    span Dual Drainage System
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Lifetime Limited Guarantee
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Select An Installer
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Various Payment Options Availability
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Unique Therapy Solutions
                li.list-item
                    img.lazyload(data-src="./static/images/common/differs/ok-icon2.svg", alt="Ok icon")
                    span Innovator of the Two-Seat Walk-In Tub


section.improve-health
    .container 
        h2.section-title Health Benefits of Using a Walk-In Tub
        ul
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Arthritis.png", alt="Arthritis")
                .item-body
                    span.title Arthritis
                    .description A walk-in tub help to relieve arthritis-related rigidity, discomfort, and edema.
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Quality-Of-Sleep.png", alt="Quality Of Sleep")
                .item-body
                    span.title Sleep Quality
                    .description The heat from a walk-in tub can act as an anti-edema and encourage deep, more restful sleep.
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Joint-Pain.png", alt="Joint Pain")
                .item-body
                    span.title Joint Ache
                    .description A total immersion walk-in tub can reduce joint pain and stimulate cartilage repair.
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Insomnia.png", alt="Insomnia")
                .item-body
                    span.title Insomnia
                    .description The calm and pleasure afforded by a full-immersion walk-in tub help the brain and body to relax, letting you sleep better.
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Diabetes.png", alt="Diabetes")
                .item-body
                    span.title Diabetes
                    .description Improved circulation, lower blood sugar levels, and a higher metabolism are some of the benefits of walk-in tubs for diabetes patients.
            li
                .icon-wrap
                    img.preview.lazyload.preloader(data-src="./static/images/common/improve-health/Therapy.png", alt="Therapy")       
                .item-body
                    span.title Therapy
                    .description If you have joint stiffness and muscular pains, a walk-in tub with hydrotherapy can calm you and reduce your discomfort.


section.features
    .container
        h2.section-title Features
        h3.section-subtitle Easy and safe to use walk in-tubs are a great option for people who have limited mobility. Our walk in-tubs have the most up-to-date features such as:
        .card-slider 
            .cards
                +mixinCard("./static/images/common/features/1.png", "Water jets as a therapy", "Water jets")
                +mixinCard("./static/images/common/features/2.png", "Keep clean your tub with an ozone sterilizer", "Ozone sterilizer")
                +mixinCard("./static/images/common/features/3.png", "Heated seat for maximum comfort", "Heated seat")
                +mixinCard("./static/images/common/features/4.png", "Maximum relaxation with the deep tissue massage system", "Massage system")
                +mixinCard("./static/images/common/features/5.png", "HD aromatherapy", "HD aromatherapy")
                +mixinCard("./static/images/common/features/6.png", "Fast drainage system", "Fast drainage system")
                +mixinCard("./static/images/common/features/7.png", "2-foot premium sole soothers", "2-foot premium sole soothers")
                +mixinCard("./static/images/common/features/8.png", "Regulated handheld shower", "Regulated handheld shower")


section.gallery
    .container 
        h2.section-title Photo Gallery
        .gallery-slider
            .swiper-wrapper
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/1.png", alt="slide 1")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/2.png", alt="slide 2")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/3.png", alt="slide 3")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/4.png", alt="slide 4")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/5.png", alt="slide 5")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/6.png", alt="slide 6")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/7.png", alt="slide 7")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/8.png", alt="slide 8")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/9.png", alt="slide 9")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/10.png", alt="slide 10")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/11.png", alt="slide 11")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/12.png", alt="slide 12")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/13.png", alt="slide 13")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/14.png", alt="slide 14")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/15.png", alt="slide 15")
                .swiper-slide 
                    img.lazyload.preloader(data-src="./static/images/common/gallery/16.png", alt="slide 16")

            .swiper-pagination
            .controls
                .label
                button.prev.swiper-button-prev
                button.next.swiper-button-next
            .swiper-scrollbar

section.features
    .container
        h2.section-title Deep Tissue Massage & Hydrotherapy Jets
        h3.section-subtitle Warm, moist air is circulated around the tub by several air therapy jets in order to promote a comfortable night's sleep and a feeling of general well-being. Adding a relaxing and restorative soft tissue massage to your bath with an air massage system makes bathing even more pleasurable.
        .video-wrap 
            video.lazyload(data-src="./static/videos/features/1.mp4" muted="" autoplay='' controls='' loop='' data-poster='./static/images/common/features/p1.png')
                | Sorry, your browser doesn&apos;t support embedded videos,
                | but don&apos;t worry, you can 
                a(href='./static/videos/features/1.mp4') download it
                |   and watch it with your favorite video player!

section.features.dark-bg
    .container
        h2.section-title Sanitation & Aromatherapy
        .row 
            .col 
                .video-wrap 
                    video.lazyload(data-src='./static/videos/features/2.mp4'  controls='' loop='' data-poster='./static/images/common/features/p2.png')
                        | Sorry, your browser doesn&apos;t support embedded videos,
                        | but don&apos;t worry, you can 
                        a(href='./static/videos/features/2.mp4') download it
                        |   and watch it with your favorite video player!
                .video-description Eco-friendly and chemical-free, an ozone sterilizer helps eliminate germs, bacteria, viruses, and organisms while cleaning your tub.
            .col 
                .video-wrap 
                    video.lazyload(data-src='./static/videos/features/3.mp4'  controls='' loop='' data-poster='./static/images/common/features/p3.png')
                        | Sorry, your browser doesn&apos;t support embedded videos,
                        | but don&apos;t worry, you can 
                        a(href='./static/videos/features/3.mp4') download it
                        |   and watch it with your favorite video player!
                .video-description Aromatherapy is also used to improve the spa experience. By promoting a peaceful state of mind, aromatherapy helps to strengthen our natural defenses.


section.features
    .container
        h2.section-title Fast-Drain Technology
        h3.section-subtitle Outfitted with the most trustworthy drain systems available in the market now. In as little as 60 seconds, the whole tub may be drained. If you don't want to wait for the tub to empty, don't! We will find you the best deal on a bathroom and assist you in finding an installer at no additional cost!
        .video-wrap 
            video.lazyload(data-src='./static/videos/features/4.mp4'  controls='' loop='' data-poster='./static/images/common/features/p4.png')
                | Sorry, your browser doesn&apos;t support embedded videos,
                | but don&apos;t worry, you can 
                a(href='./static/videos/features/4.mp4') download it
                |   and watch it with your favorite video player!


section.main-action.dark
    .container 
        form.enter-zip-code-wrap(action='#')
            span.title We will select a bathroom at the best price and help you find an installer without extra charges!
            .btn-wrap
                .input-wrap
                    input.zip-modal-open(type="text" placeholder="Enter Zip code?")
                    .error-msg
                button(type="submit") Get estimate
            span.description No cost and no-obligation estimates


section.instruction
    .container 
        h2.section-title How It Works
        ul.instruction-list

            li.list-item
                span.number 01
                .thumb: img.lazyload(data-src="./static/images/common/instruction/tester.svg", alt="Project")
                .text-wrap
                    .title: span Share Key points On Your Project
                    span.text Answer just a few simple questions about your concept.
            li.list-item
                span.number 02
                .thumb: img.lazyload(data-src="./static/images/common/instruction/project-manager.svg", alt="Manager")
                .text-wrap
                    .title: span Match the Best Contractor in Your Area
                    span.text You will be paired with a contractor who is most suited to your needs.
            li.list-item
                span.number 03
                .thumb: img.lazyload(data-src="./static/images/common/instruction/price-quote.svg", alt="Price quote")
                .text-wrap
                    .title: span We Provide You With A No-Estimation
                    span.text For an estimate and any questions you may have, a contractor will contact you.


section.trust-us
    .container 
        h2.section-title From Beginning To End, Count On Us
        .trust-list 

            .trust-item     
                span.num 113,536
                .discription 
                    .icon: img.lazyload(data-src="./static/images/common/trust-us/send.svg", alt="Send")
                    .text Project requests
            .trust-item     
                span.num 29,158
                .discription 
                    .icon: img.lazyload(data-src="./static/images/common/trust-us/calendar-1.svg", alt="Calendar")
                    .text Estimates given
            .trust-item     
                span.num 13,259
                .discription 
                    .icon: img.lazyload(data-src="./static/images/common/trust-us/done-3.svg", alt="Done")
                    .text Projects finished

section.reviews 
    .container 
        h2.section-title According to Others' Opinions
        .review-slider 
            .swiper-wrapper

                .slide.swiper-slide 
                    img.user.lazyload(data-src="./static/images/common/reviews/profile-girl.svg", alt="Profile girl")
                    span.name Julie R.
                    .star-rating 
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                    p.text “It has surpassed our expectations both with the walk-in tub and with the installation staff.” 
                    a.link(href="https://www.newbathtub.com/reviews/?rsp=2")  New Bath Today 

                .slide.swiper-slide  
                    img.user.lazyload(data-src="./static/images/common/reviews/profile-boy.svg", alt="Profile boy")
                    span.name Chris S.
                    .star-rating 
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                    p.text  “Fantastic location selected up a model tub that was really comfy to sit in.”
                    a.link(href="https://www.google.com/search?q=american+tubs&rlz=1C1CHBF_enCA912CA912&oq=american+tubs&aqs=chrome..69i57j46i175i199i512j0i512l3j69i61l2j69i60.1385j0j7&sourceid=chrome&ie=UTF-8#lrd=0x80c32a71e0eddbe5:0xbc73e95ad3f2668c,1")  American Tubs Walk in Bathtubs 

                .slide.swiper-slide  
                    img.user.lazyload(data-src="./static/images/common/reviews/profile-boy.svg", alt="Profile boy")
                    span.name John S.
                    .star-rating 
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                    p.text “Superb customer support. Sam and Eric did an excellent job installing my walk-in tub!” 
                    a.link(href="https://www.homepridebath.com/about-us/reviews/")  Kohler HomePride 
                
                .slide.swiper-slide  
                    img.user.lazyload(data-src="./static/images/common/reviews/profile-boy.svg", alt="Profile boy")
                    span.name Dick T.
                    .star-rating 
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                    p.text  The Installers were kind and professional, and the walk-in tub was a wonderful fit. A strong recommendation!” 
                    a.link(href="https://www.mbtubs.com/")  Mobility Bathworks 

                .slide.swiper-slide  
                    img.user.lazyload(data-src="./static/images/common/reviews/profile-boy.svg", alt="Profile boy")
                    span.name Andrea O.
                    .star-rating 
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                        img.star.lazyload(data-src="./static/images/common/reviews/star.svg", alt="Star icon")
                    p.text "The best thing was how my wife was after that first bath with those fantastic water jets.” 
                    a.link(href="https://www.safesolutionswalkintubs.com/testimonials")  A Safe Solution Walk-In Tubs 

            .swiper-pagination
            .controls
                .label
                button.prev.swiper-button-prev
                button.next.swiper-button-next

section.main-action
    .container 
        
        form.enter-zip-code-wrap(action='#')
            span.title We will select a bathroom at the best price and help you find an installer without extra charges!
            .btn-wrap
                .input-wrap
                    input.zip-modal-open(type="text" placeholder="Enter Zip code?")
                    .error-msg
                button(type="submit") Get estimate
            span.description Free, no-obligation estimates.

