section#differences.differences
    .container 
        h2.section-title Чем наше предложение отличается от других
        .differences-slider
            .screen-view
                img.lazyload.active(src="./static/images/common/preview.png", data-src="./static/images/common/gallery/3.png", alt="") 
                //- .progress-wrap
                //-     .progress
            ul.name-list
                li.list-item: span Most Affordable Walk In Tubs in Industry
                li.list-item: span Designed & Assembled in Chicago, IL
                li.list-item: span Dual Drain Technology
                li.list-item: span Lifetime Limited Warranty
                li.list-item: span Choose Your Own Installer
                li.list-item: span Financing Options Available
                li.list-item: span Exclusive Therapy Options
                li.list-item: span Pioneer of the Two Seat Walk In Tub


section.improve-health
    .container 
        h2.section-title How Walk-In Tubs Can Improve Your Health
        ul
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Arthritis.png", alt="")
                .item-body
                    span.title Arthritis
                    .description A walk-in tub can reduce the stiffness, pain, and swelling that comes with arthritis.
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Quality-Of-Sleep.png", alt="")
                .item-body
                    span.title Quality Of Sleep
                    .description The steam from a walk-in tub can serve as a decongestant and promote deeper, better sleep.
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Joint-Pain.png", alt="")
                .item-body
                    span.title Joint Pain
                    .description A full-body immersion walk-in tub can relieve pressure from your joints, and promote cartilage healing.
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Insomnia.png", alt="")
                .item-body
                    span.title Insomnia
                    .description The rest and relaxation of a full-immersion walk-in tub allow the mind and muscles to unwind and help you get better sleep.
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Diabetes.png", alt="")
                .item-body
                    span.title Diabetes
                    .description Walk-in tubs benefit diabetes patients with improved circulation, decreased blood sugar levels, and a faster metabolism.
            li
                .icon-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/improve-health/Therapy.png", alt="")       
                .item-body
                    span.title Therapy
                    .description If you experience stiff joints and muscle aches, a walk-in tub with hydrotherapy can relax you and relieve your pain.


section.features
    .container
        h2.section-title
            +ru('Основные функции')
            +en('Main function')
        .card-slider 
            .cards
                +mixinCard("./static/images/common/main-function/1.png", "Hydrotherapy jets")
                +mixinCard("./static/images/common/main-function/2.png", "Ozone sterilizer")
                +mixinCard("./static/images/common/main-function/3.png", "Comfort heated seat system")
                +mixinCard("./static/images/common/main-function/4.png", "Deep tissue massage system")
                +mixinCard("./static/images/common/main-function/5.png", "HD aromatherapy")
                +mixinCard("./static/images/common/main-function/6.png", "Quick-draining system")
                +mixinCard("./static/images/common/main-function/7.png", "2-foot luxury sole soothers")
                +mixinCard("./static/images/common/main-function/8.png", "Adjustable handheld shower")


section.gallery
    .container 
        h2.section-title Photo Gallery

        .gallery-slider
            .swiper-wrapper
                .swiper-slide 
                    img(src="./static/images/common/gallery/1.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/2.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/3.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/4.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/5.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/7.png")
                .swiper-slide 
                    img(src="./static/images/common/gallery/8.png")
            .swiper-pagination

            .controls
                .label
                button.prev.swiper-button-prev
                button.next.swiper-button-next
            
            .swiper-scrollbar


//- section#appointment.appointment
    .container 
        h2.section-title 
            +ru("Наша платформа используется для")
            +en("Our platform is being used for")
        ul.appointment-list
            li.list-item
                img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/appointment/advertize.png", alt="")
                span.text 
                    +ru("Создание CPA платформы для прямого рекламодателя")
                    +en("Creating an Affiliate Network for an advertiser")
            li.list-item 
                img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/appointment/create.png", alt="")
                span.text 
                    +ru("Создания CPA сети с нуля")
                    +en("Building an Affiliate Network from scratch")
            li.list-item
                img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/appointment/control.png", alt="")
                span.text 
                    +ru("Контроль рекламных кампаний медиа агентств")
                    +en("Control over advertising campaigns of perfomance agencies")
            li.list-item 
                img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/appointment/migration.png", alt="")
                span.text 
                    +ru("Миграции уже существующей CPA сети")
                    +en("Migrating an existing Affiliate Network")
            li.list-item 
                img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/appointment/referal.png", alt="")
                span.text
                    +ru("Создание собственной реферальной программы")
                    +en("Creating your own referral program")


//- section#capabilities.capabilities
    .container 
        h2.section-title 
            +ru("Возможности")
            +en("Features")
        ul.capabilities-list 
            li.list-item
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/analitic.svg", alt="")
                span.text 
                    +ru("Real-time аналитика")
                    +en("Real-time analytics")
            li.list-item
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/smartlink.svg", alt="")
                span.text 
                    +ru("Smartlink")
                    +en("Smartlink")
            li.list-item.active
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/postback.svg", alt="")
                span.text 
                    +ru("Постбек")
                    +en("Postback")
            li.list-item
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/redirect.svg", alt="")
                span.text 
                    +ru("Быстрый редирект")
                    +en("Fast redirect")
            li.list-item
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/control.svg", alt="")
                span.text 
                    +ru("Полный контроль кампаний и партнеров")
                    +en("Full control of campaigns and partners")
            li.list-item
                .icon: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/capabilities/castomization.svg", alt="")
                span.text 
                    +ru("Кастомизация")
                    +en("Customization")


//- section#solutions.solutions
    .container 
        h2.section-title
            +ru("Решения")
            +en("Solutions")
        ul.solutions-list 
            li.list-item
                .progress-wrap
                    .progress
                .item-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/solutions/guard.png", alt="")
                    span.title 
                        +ru("Безопасность данных")
                        +en("Data security")
                    span.description   
                        +ru("Наш сервис способен обрабатывать миллиарды событий с 99,99% времени безотказной работы и сквозным шифрованием, что делает вашу сеть полностью защищенной. Поскольку мы является SaaS сервисом, вам не нужен штат программистов и системных администраторов.")
                        +en("Our service is capable of handling billions of events with 99.99% uptime and end-to-end encryption, making your network completely secure. Since we are a SaaS service, you do not need a department of programmers and system administrators.")
            li.list-item
                .progress-wrap
                    .progress
                .item-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/solutions/antifrod.png", alt="")
                    span.title 
                        +ru("Антифрод")
                        +en("Anti-Fraud")
                    span.description 
                        +ru("Наше собственное Anti-Fraud решение объединяет и анализирует десятки внутренних и внешних точек измерения для обнаружения и устранения мошеннического трафика в режиме реального времени.")
                        +en("Our proprietary Anti-Fraud solution aggregates and analyzes dozens of internal and external measurement points to detect and eliminate fraudulent traffic in real time.")
            li.list-item
                .progress-wrap
                    .progress
                .item-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/solutions/whitelabel.png", alt="")
                    span.title 
                        +ru("White Label")
                        +en("White Label")
                    span.description 
                        +ru("Мы предоставляем вам возможность сделать White Label. Данный вид партнерского сотрудничества позволяет использовать наш продукт под своим брендом. Вы можете настроить собственные дашборды, добавить свой логотип, а также использовать личный домен для работы с нашей системой.")
                        +en("We provide you with the opportunity to create a White Label. This type of partnership allows you to use our product under your own brand. You can customize your own dashboards, add your logo, and also use a personal domain to work with our system.")
            li.list-item
                .progress-wrap
                    .progress
                .item-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/solutions/api.png", alt="")
                    span.title 
                        +ru("Сторонние интеграции (API)")
                        +en("Third party integrations (API)")
                    span.description 
                        +ru("С помощью API можно легко интегрировать неограниченное количество сторонних технологий, чтобы расширить маркетинговые возможности. Вы также можете экспортировать данные из нашей системы в свой любимый инструмент бизнес-аналитики для дальнейшей работы.")
                        +en("The API makes it easy to integrate an unlimited number of third-party technologies to expand your marketing opportunities. You can also export data from our system to your favorite business intelligence tool for further work.")
            li.list-item
                .progress-wrap
                    .progress
                .item-wrap
                    img.preview.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/solutions/support.png", alt="")
                    span.title 
                        +ru("Быстрая поддержка")
                        +en("Fast support")
                    span.description 
                        +ru("Вам не придется долго ждать ответа оператора, если возникли вопросы. Наш саппорт моментально ответит и поможет разобраться")
                        +en("You do not have to wait long for the operator's response if you have any questions. Our support will instantly answer and help you figure the things out")


//- section#partners.partners
    h2.section-title
        +ru(" С нами работают")
        +en("Work with us")
    .logo-list-wrap
        ul.logo-list
            li.logo-item.prev: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/partners/kotpartners.png", alt="")
            li.logo-item.curr: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/partners/cpaecom.svg", alt="")
            li.logo-item.next: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/partners/offerleader.svg", alt="")
    .controls
        .label
        button.prev 
            img(src="./static/images/common/slider-arrow-prev.svg", alt="")
        span.indicator 1 / 3
        button.next 
            img(src="./static/images/common/slider-arrow-next.svg", alt="")


//- section.instruction
    .container 
        h2.section-title 
            +ru("Как начать")
            +en("How to start")
        ul.instruction-list
            li.list-item
                span.number 01
                .thumb: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/instruction/contact.svg", alt="")
                .text-wrap
                    .title: span 
                        +ru("Запрос")
                        +en("Request")
                    span.text 
                        +ru("Вы отправляете нам запрос")
                        +en("You send us a request")
            li.list-item
                span.number 02
                .thumb: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/instruction/request.svg", alt="")
                .text-wrap
                    .title: span 
                        +ru("Контакт")
                        +en("Contact")
                    span.text 
                        +ru("Менеджер из Afflifter связывается с вами")
                        +en("Afflifter manager contacts you")
            li.list-item
                span.number 03
                .thumb: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/instruction/training.svg", alt="")
                .text-wrap
                    .title: span 
                        +ru("Обучение")
                        +en("Training")
                    span.text 
                        +ru("Аккаунт-менеджер демонстрирует вам весь процесс работы и настраивает платформу под вас")
                        +en("The account manager shows you the whole process of work and customizes the platform for you")
            li.list-item
                span.number 04
                .thumb: img.lazyload(src="./static/images/common/preview.png", data-src="./static/images/common/instruction/setup.svg", alt="")
                .text-wrap
                    .title: span 
                        +ru("Запуск")
                        +en("Set Up")
                    span.text 
                        +ru("Все готово и вы можете приступать работать с Afflifter")
                        +en("Everything is ready and you can start working with Afflifter")
        a(href="https://app.afflifter.com/register").buy-btn.open-modal-form-btn 
            +en("Free 30 days trial")
            +ru("Попробовать бесплатно")
        


   





        



