include ../helpers/mixins
block variables

doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->

		link(rel="icon", type="image/png", href="./static/images/common/favicon.png")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description", content="The best deals on WALK-IN TUBES from direct seppliers without markups")
		meta(name="keywords" content="")
		
		link(rel="stylesheet" type='text/css' href="static/css/styles.css?v=2.2")
		
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap' rel='stylesheet')

		//- meta(property='og:title' content='The Rock')
		//- meta(property='og:type' content='video.movie')
		//- meta(property='og:url' content='https://www.imdb.com/title/tt0117500/')
		//- meta(property='og:image' content='https://ia.media-imdb.com/images/rock.jpg')

		
	body
		#preloader.show
				img.logo.show(src="./static/images/common/logo-light.svg", alt="Logo HomeMate.expert")
		.main-content
			include ../modules/nav/nav
			include ../modules/header/header
			
			block content
			include ../modules/footer/footer
			//- include ../modules/modal/modal
			//- include ../modules/modal/policy
			

		include ../modules/quiz/quiz

		

		script(src="static/js/libs.js?v=1.4")
		script(src="static/js/main.js?v=1.4")
		block script
