section.quiz.modal
    .container 
        .modal-header 
            .logo 
                a.logo-link(href="./index.html") 
                    img.logo.lazyload(data-src="./static/images/common/logo-dark.svg", alt="Logo HomeMate.expert")
                    //- span.divider –
                    //- img.logo.lazyload(data-src="./static/images/common/logo-ella-dark.png", alt="Logo Ella")
            .close-modal-btn
                img.lazyload(data-src="./static/images/common/quiz/close.svg", alt="Close")
        
        .hero-wrapper
            #hero-msg.hero-msg
            img.hero.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="Hero")
            


        .modal-body.overflow
            .progress-wrapper
                #form-progress.progress
            form#step-form.step-wrapper(action="success.html" method="POST")
                input.zip-input(type="hidden" name="zip code")


                .step.next(data-info="Let`s get started on your walk-in tub estimate!" data-type="radio") 
                    .step-title What makes you want a walk-in bathtub?
                    .answer-wrapper
                        .radio-custom
                            input(name="why_interested" id="why_interested-1" type="radio" value="1")
                            label(for="why_interested-1") 
                                img.lazyload(data-src="./static/images/common/quiz/safety.svg", alt="Safety")
                                .name: span Security

                        .radio-custom
                            input(name="why_interested" id="why_interested-2" type="radio" value="2")
                            label(for="why_interested-2") 
                                img.lazyload(data-src="./static/images/common/quiz/bath1.svg", alt="Bath")
                                .name: span Healing

                        .radio-custom
                            input(name="why_interested" id="why_interested-3" type="radio" value="3")
                            label(for="why_interested-3") 
                                img.lazyload(data-src="./static/images/common/quiz/question2.svg", alt="Question")
                                .name: span Other

                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn(disabled data-state='disable') next
                        button.no-btn.hide no
                        button.yes-btn.hide yes
                            


                .step.next(data-type="radio") 
                    .step-title Are you the homeowner?
                    .answer-wrapper
                        .radio-custom
                            input(name="internal_owner" id="internal_owner1" type="radio" value="1")
                            label(for="internal_owner1") 
                                img.lazyload(data-src="./static/images/common/quiz/yes.svg", alt="Yes")
                                .name: span yes

                        .radio-custom
                            input(name="internal_owner" id="internal_owner2" type="radio" value="2" data-info="Note that our installers require the homeowner be present during an estimate. Would you like to continue?")
                            label(for="internal_owner2") 
                                img.lazyload(data-src="./static/images/common/quiz/no.svg", alt="No")
                                .name: span no

                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn(disabled data-state='disable') next
                        button.no-btn.hide no
                        button.yes-btn.hide yes



                .step.next(data-type="radio") 
                    .step-title Is it a manufactured, modular, or mobile home?
                    .answer-wrapper
                        .radio-custom
                            input(name="internal_mobile_home" id="internal_mobile_home1" type="radio" value="1" data-info="Unfortunately, our installers do not work with mobile, modular or manufactured homes. Would you still like to continue?")
                            label(for="internal_mobile_home1") 
                                img.lazyload(data-src="./static/images/common/quiz/yes.svg", alt="Yes")
                                .name: span yes

                        .radio-custom
                            input(name="internal_mobile_home" id="internal_mobile_home2" type="radio" value="2")
                            label(for="internal_mobile_home2") 
                                img.lazyload(data-src="./static/images/common/quiz/no.svg", alt="No")
                                .name: span no

                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn(disabled data-state='disable') next
                        button.no-btn.hide no
                        button.yes-btn.hide yes



                .step.next(data-type="radio") 
                    .step-title Is there a bathtub or shower that has to be replaced?
                    .answer-wrapper
                        .radio-custom
                            input(name="internal_existing-tub" id="internal_existing-tub1" type="radio" value="1")
                            label(for="internal_existing-tub1") 
                                img.lazyload(data-src="./static/images/common/quiz/yes.svg", alt="Yes")
                                .name: span yes

                        .radio-custom
                            input(name="internal_existing-tub" id="internal_existing-tub2" type="radio" value="1" data-info="Unfortunately, our installers can only replace an existing bathtub or shower. Would you still like to continue?")
                            label(for="internal_existing-tub2") 
                                img.lazyload(data-src="./static/images/common/quiz/no.svg", alt="No")
                                .name: span no

                    p.data-info 

                    .aplay-btn-wrapper 
                            button.aplay-btn(disabled data-state='disable') next
                            button.no-btn.hide no
                            button.yes-btn.hide yes



                .step.next(data-type="radio") 
                    .step-title Is this request covered by an insurance or VA claim?
                    .answer-wrapper
                        .radio-custom
                            input(name="internal_insurance_coverage" id="internal_insurance_coverage1" type="radio" value="1" data-info="Unfortunately, our installers do not currently work with insurance or VA claims. Would you still like to continue?")
                            label(for="internal_insurance_coverage1") 
                                img.lazyload(data-src="./static/images/common/quiz/yes.svg", alt="Yes")
                                .name: span yes

                        .radio-custom
                            input(name="internal_insurance_coverage" id="internal_insurance_coverage2" type="radio" value="1")
                            label(for="internal_insurance_coverage2") 
                                img.lazyload(data-src="./static/images/common/quiz/no.svg", alt="No")
                                .name: span no

                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn(disabled data-state='disable') next
                        button.no-btn.hide no
                        button.yes-btn.hide yes



                .step.next(data-info="Almost there...")
                    .step-title To whom should I address this estimate?
                    .answer-wrapper 
                        .fancy-input 
                            .input-wrapper
                                .input-side
                                    input(name="name" id="input-name" type="text" required="required")
                                    label(for="input-name") Full name
                            .error-msg

                        .fancy-input 
                            .input-wrapper
                                .input-side
                                    input(name="email" id="input-email" type="text" required="required")
                                    label(for="input-email") Email
                            .error-msg
                        
                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn next
                        //- button.no-btn.hide no
                        //- button.yes-btn.hide yes



                .step.next(data-info="And the final step!")
                    .step-title A valid phone number is required in order to provide a formal estimate.
                    .answer-wrapper
                        .fancy-input 
                            .input-wrapper
                                img.icon.lazyload(data-src="./static/images/common/quiz/lock.svg", alt="Lock")
                                .input-side
                                    input(name="tel" id="input-tel" type="text" required="required")
                                    label(for="input-tel") Phone number
                            .error-msg
                        
                    p.data-info 

                    .aplay-btn-wrapper 
                        button.aplay-btn next
                        //- button.no-btn.hide no
                        //- button.yes-btn.hide yes


                .step.mopile-confirm.next(data-info="And the final step!") 
                    .step-title Please confirm your phone number.
                    .subtitle Make sure you put the right number.
                    .answer-wrapper
                        .fancy-input 
                            .input-wrapper.disabled
                                img.icon.lazyload(data-src="./static/images/common/quiz/lock.svg", alt="Lock")
                                .input-side
                                    label Phone number
                                    span.phone-confirm
                            .error-msg

                    
                    p.data-info 

                    .aplay-btn-wrapper 
                        a.change-phone(href="#") Change your phone number
                        button.submit(type="sumit") Yes, that's the right number
                        //- button.aplay-btn.hide Confirm
                        //- button.no-btn.hide no
                        //- button.yes-btn.hide yes

                    p.add-infoSiren To get an in-home estimate for you, Home Mate Expert or one of our local partners will call or text you on the phone, or send an email or text message, at the phone number you provided. You are aware that you don't have to give your permission to buy products or services. And you are aware that have the right to cancel your permission at any time.

        .sub-info
            img.lazyload(data-src="./static/images/common/quiz/lock.svg", alt="Lock")
            p Secure, Protected, and Confidential


section.are-you-shure
    .container 
        .modal-header 
            .logo 
                a.logo-link(href="./index.html") 
                    img.logo.lazyload(data-src="./static/images/common/logo-dark.svg", alt="Logo")
                    span.divider –
                    img.logo.lazyload(data-src="./static/images/common/logo-ella-dark.png", alt="Logo")
        
        .hero-wrapper
            .hero-msg Are you certain you want to cancel your no-obligation, free estimate?
            img.hero.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="Hero")

        .modal-body
            .step-wrapper

                .step.active
                    .step-title We only need to verify your information in order to get you an estimation.
                    .subtitle It takes less than two minutes.
                    .answer-wrapper
                    .aplay-btn-wrapper 
                        button.no-btn.exit Cancel project
                        button.yes-btn.continue Return to project
                    p.data-info 


section.to-home-page
    .container 
        .modal-header 
            .logo 
                a.logo-link(href="./index.html") 
                    img.logo.lazyload(data-src="./static/images/common/logo-dark.svg", alt="Logo HomeMate.expert")
                    span.divider –
                    img.logo.lazyload(data-src="./static/images/common/logo-ella-dark.png", alt="Logo Ella")
        
        .hero-wrapper
            .hero-msg
            img.hero.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="Walk-in tube")

        .modal-body
            .main-step-icon 
                img.lazyload(data-src="./static/images/common/quiz/hand-wave.svg", alt="Bay-bay")
            .step-wrapper

                .step.active
                    .step-title We'll miss you!
                    .subtitle See what more we can do for you.
                    .answer-wrapper
                    .aplay-btn-wrapper 
                        button.yes-btn.exit Go to homepage
                        button.yes-btn.continue.hide Return to project

                    p.data-info 

                    


