extends layout/secondary

block variables
	-var title = 'Terms of use HomeMate.expert'
	-var lang = 'en'

block content
	include ./modules/quiz/contact-us

block script 
	script(src="static/js/contact-us.js?v=1.5") 
