section.to-home-page.page.show
    .container 
        .modal-header 
            .logo 
                img(src="./static/images/common/logo-dark.svg", alt="")
        
        .hero-wrapper
            .hero-msg
            img.hero.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="")

        .modal-body
            .main-step-icon 
                img(src="./static/images/common/quiz/hand-wave.svg", alt="")
            .step-wrapper

                .step.active
                    .step-title Thank you!
                    .subtitle Check out the other services that we offer.
                    .answer-wrapper
                    .aplay-btn-wrapper 
                        a.yes-btn.exit(href="./index.html")  Go to homepage
                        button.yes-btn.continue.hide Return to project

                    p.data-info 

                    


