section.to-home-page.page.show
    .container 
        .modal-body
            .main-step-icon 
                img(src="./static/images/common/quiz/mobile.svg", alt="mobile")
            .step-wrapper

                .step.active
                    .step-title Thank you, we will call soon!
                    .subtitle Please don't miss the call or we won't be able to provide a free estimate!
                    .answer-wrapper

                        .success-text 
                            .col 
                                .top 
                                    img(src="./static/images/common/trust-us/calendar-1.svg", alt="calendar")
                                    span No-Obligation Appointment
                                p The contractor will start your free estimate by taking measurements, examining layout and bringing materials for you to look at.
                            
                            .col 
                                .top 
                                    img(src="./static/images/common/trust-us/send.svg", alt="send")
                                    span You’re In Control!
                                p There is no obligation at this point, it’s up to you if you want to move forward.


                    .aplay-btn-wrapper 
                        a.yes-btn.exit(href="./index.html")  Go to homepage

                    p.data-info 

                    


