footer
    .container 
        .content-wrap
            .row 
                .no-wrap
                    .col.policies
                        .logo
                            a.logo-link(href="./index.html") 
                                img.logo.lazyload(data-src="./static/images/common/logo-light.svg", alt="Logo HomeMate.expert")
                                //- span.divider –
                                //- img.logo.lazyload(data-src="./static/images/common/logo-ella.png", alt="Logo Ella")
                        .list
                            a.item(href="./terms-of-use.html")  Terms of Use
                            a.item(href="./privacy-policy.html")  Privacy Policy
                            a.item(href="./cookie-policy.html")  Cookie Policy
                            a.item(href="./do-not-sell.html")  Do Not Sell My Personal Information
                            a.item(href="./contact-us.html")  Contact us 

                    .col.hero 
                        img.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="Hero")

                //- .col.social-list 
                    .title Follow us 
                    .list
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/facebook-round.svg", alt="facebook") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/instagram-round.svg", alt="instagram") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/pinterest-round.svg", alt="pinterest") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/twitter-round.svg", alt="twitter") 

        .copyright © 2022 Homemate.Expert. All rights reserved.
