footer
    .container 
        .content-wrap
            .row 
                .col
                    .logo
                        a(href="./index.html") 
                            img(src="./static/images/common/logo-light.svg", alt="")
                    .list
                        .list-item Terms of Use
                        .list-item Privacy Policy
                        .list-item Cookie Policy
                        .list-item Do Not Sell My Personal Information
                        .list-item Contact us 

                .col.hero 
                    img(src="./static/images/common/header/header-bg-img.png", alt="")

                .col.social-list 
                    .title Follow us 
                    .list
                        a.social-item(href="#"): img(src="./static/images/common/reviews/star.svg", alt="") 
                        a.social-item(href="#"): img(src="./static/images/common/reviews/star.svg", alt="") 
                        a.social-item(href="#"): img(src="./static/images/common/reviews/star.svg", alt="") 
                        a.social-item(href="#"): img(src="./static/images/common/reviews/star.svg", alt="") 

        .copyright © 2022 Homemate.Expert. All rights reserved.
