footer
    .container 
        .content-wrap
            .row 
                .no-wrap
                    .col.policies
                        .logo
                            a.logo-link(href="./index.html") 
                                img.logo.lazyload(data-src="./static/images/common/logo-light.svg", alt="Logo")
                                span.divider –
                                img.logo.lazyload(data-src="./static/images/common/logo-ella.png", alt="Logo")
                        .list
                            //- a.item(href="#")  Terms of Use
                            a.item(href="./policy.html")  Privacy Policy
                            //- a.item(href="#")  Cookie Policy
                            //- a.item(href="#")  Do Not Sell My Personal Information
                            //- a.item(href="#")  Contact us 

                    .col.hero 
                        img.lazyload(data-src="./static/images/common/header/header-bg-img.png", alt="")

                //- .col.social-list 
                    .title Follow us 
                    .list
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/facebook-round.svg", alt="") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/instagram-round.svg", alt="") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/pinterest-round.svg", alt="") 
                        a.item(href="#"): img.lazyload(data-src="./static/images/common/footer/twitter-round.svg", alt="") 

        .copyright © 2022 Homemate.Expert. All rights reserved.
