footer
    .container 
        .content-wrap
            .row 
                .no-wrap
                    .col.policies
                        .logo
                            a(href="./index.html") 
                                img(src="./static/images/common/logo-v2.png", alt="")
                        .list
                            a.item(href="#")  Terms of Use
                            a.item(href="#")  Privacy Policy
                            a.item(href="#")  Cookie Policy
                            a.item(href="#")  Do Not Sell My Personal Information
                            a.item(href="#")  Contact us 

                    .col.hero 
                        img(src="./static/images/common/header/header-bg-img.png", alt="")

                .col.social-list 
                    .title Follow us 
                    .list
                        a.item(href="#"): img(src="./static/images/common/footer/facebook-round.svg", alt="") 
                        a.item(href="#"): img(src="./static/images/common/footer/instagram-round.svg", alt="") 
                        a.item(href="#"): img(src="./static/images/common/footer/pinterest-round.svg", alt="") 
                        a.item(href="#"): img(src="./static/images/common/footer/twitter-round.svg", alt="") 

        .copyright © 2022 Homemate.Expert. All rights reserved.
